.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  background-color: rgb(252 231 243);
  background-attachment: fixed;
}

.contact-form {
  font-size: 1.2rem;
}

.contact h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.contact-form label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.contact-select {
  width: 43rem;
  display: block;
  padding: 1rem;
  height: 45px;
  border: 1px solid red;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.contact input {
  display: block;
  padding: 1.5rem;
  width: 40rem;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: 0.1s ease;
  margin-bottom: 3rem;
  border: 1px solid #aaa;
  /* box-shadow: 0 0 1px #fff; */
}

.contact input:hover {
  border-color: #555;
}

.contact-submit {
  text-align: center;
}

.contact button {
  padding: 0.5em 1em;
  border: 1px solid black;
  background-color: #07251c;
  color: beige;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.contact button:hover {
  background-color: rgb(115, 1, 1);
  color: white;
}

@media screen and (max-width: 769px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(252 231 243);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    width: auto;
  }

  .contact-form {
    font-size: 0.7rem;
    align-items: center;
  }

  .contact h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  .contact-form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
  }

  .contact-select {
    width: 28rem;
    display: block;
    padding: 1rem;
    height: 4rem;
    border: 1px solid #e4e6e8;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  .contact input {
    display: block;
    height: 2rem;
    width: 25rem;
    padding: 1.5rem;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    margin-bottom: 3rem;
    border: 1px solid #aaa;
    /* box-shadow: 0 0 1px #fff; */
  }

  .contact input:hover {
    border-color: #555;
  }

  .contact-submit {
    text-align: center;
  }

  .contact button {
    padding: 0.5em 1em;
    border: none;
    width: 8rem;
    height: 3.5rem;
    background-color: rgb(154 52 18);
    color: beige;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
  }

  .contact button:hover {
    background-color: rgb(115, 1, 1);
    color: white;
  }

}