.testmonial_data_set_outer {
    background-color: maroon;
    margin: auto;
    padding: 5%;
    width: fit-content;
    color: white;
    height:max-content;
    border-radius: 1rem; 
}
.testmonial_data_set_content {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    width: fit-content;
    height: 20rem;
}
.testmonial_data_set_content h1
{
    padding-bottom: 1rem;
}
.testmonial_data_pic img {
    width: 23rem;
    border: 1px white solid;
    border-radius: 1rem;
}
.testmonial_data_review {
    width:40%;
    line-height: 2rem;
   font-size: 1rem;
}

@media screen and (max-width:900px) {
    .testmonial_data_set_content {
      display:block;
       text-align: left;
       width:70rem;
       padding:1rem;
       height:50rem;
    }
    .testmonial_data_review
    { 
        padding-top: 2rem;
        font-size: 1.5rem;   
    }
    
}